<div class="container">
  <div class="title">
    <button mat-raised-button color="primary">Search</button>
  </div>
  <form [formGroup]="filters" class="form">
    <mat-form-field>
      <input matInput placeholder="Game Name" formControlName="name">
    </mat-form-field>


    <div class="smallControl custom-slider">
      <h3>Price</h3>
      <ng5-slider [(value)]="minValuePrice" [(highValue)]="maxValuePrice" [options]="optionsPrice"></ng5-slider>
    </div>
    <div class="control custom-slider">
      <h3>Level</h3>
      <ng5-slider [(value)]="minValueLevel" [(highValue)]="maxValueLevel" [options]="optionsLevel"></ng5-slider>
    </div>
    <div class="control">
      <h3>Genres</h3>
      <div formArrayName="genres" class="genres smallControl">
        <mat-checkbox *ngFor="let genreControl of genresControl.controls; let i=index" [formControlName]="i">
          {{genres[i]}}</mat-checkbox>
      </div>
    </div>

    <div class="control">
      <mat-checkbox formControlName="hideOld"> Hide expired gifts</mat-checkbox>
    </div>


  </form>
</div>
