.container {
  display: flex;
  grid-template-columns: 1fr;
  min-height: 100%;
  align-items: flex-start;
  overflow: auto;
}

.container[min-width~="600px"] .right-half {
  flex: 50%;
}

.container[min-width~="600px"] .left-half {
  display: inherit;
  flex: 50%;
}

.left-half {
  height: 100%;
  display: none;
}

app-home {
  width: 100%;
}

.right-half {
  position: sticky;
  top: 0px;
  min-height: calc(100vh - 64px);
  background-color: #1b2837;
  width: 100%;
  background-repeat: no-repeat;
}

.right-half p {
  background-color: blueviolet;
  padding: 10px;
  font-size: 20px;
}