.container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100%;
}

.container[min-width~="600px"] {
  grid-template-columns: 1fr 1fr;
}

.container[min-width~="600px"] .left-half {
  display: inherit;
}

.left-half {
  height: 100%;
  display: none;
}

.right-half {
  height: 100%;
  background-color: #1b2837;
  background-repeat: no-repeat;
}
