:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
}

.left-half {
  height: 100%;
}

.right-half {
  height: 100%;
  background-color: #1b2837;
  background-repeat: no-repeat;
}
